@use 'custom';
.main-container {
  min-height: 100vh;
  background-color: #211E29;
  color: white;
}

.container-fluid {
  min-height: 100%;
}

.card {
  background-color: #FBF2C0 !important;
}
/*# sourceMappingURL=App.css.map */